/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Courgette&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* font-weight: bolder; */
}

/*----------------------- custom scroll bar----------------------------------------- */
/* Scrollbar Styling */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  background: #ec028a96;
}

::-webkit-scrollbar-thumb:hover {
  background: #f47830;
}

/* ----------------------------------------------Navbar--------------------------------------- */

header {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #763016;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-flex;
}
.nav-item {
  list-style-type: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav-item {
  font-size: 1.75rem;
  font-weight: bolder;
}

header div ul li {
  list-style: none;
  margin-left: 5px;
}

header div ul li a {
  text-decoration: none;
  padding: 3px 6px;
  color: #763016;
}

header ul {
  list-style: none !important;
}

header ul li a:hover,
header ul li a:active {
  /* background: #763016; */
  color: #fff;
  /* border-radius: 1.75rem; */
  padding: 0.8rem;
  transition: ease 0.5s;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 200px) {
  .nav-item {
    font-size: 1rem;
  }
}

@media screen and (min-width: 370px) {
  .nav-item {
    font-size: 1rem;
  }
}

@media screen and (min-width: 780px) {
  .nav-item {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-item {
    padding: 1.5rem;
  }
}

logo img {
  max-height: 100px;
  background-color: transparent;
}

/* ------------------------------------ parallax----------------------------------- */
body {
  min-height: 100vh;
  overflow-x: hidden;
}

parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #ec790e, transparent);
  z-index: 1000;
}

parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

parallax img#mountains_front {
  z-index: 11;
}

parallax img#mountains_behind {
  z-index: 10;
}

#text {
  position: absolute;
  right: -150px;
  color: #763016;
  white-space: nowrap;
  font-size: 7.5vw;
  font-weight: bolder;
  z-index: 9;
}

@media screen and (max-width: 480px) {
  #text {
    right: 85px !important;
    font-size: 3rem;
    z-index: 10;
  }
}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #763016;
  color: #fff;
  font-size: 1.5em;
  /* transform: translateY(100px); */
  z-index: 12;
}

/* ----------------------------------Section-------------------------------------------- */

.sec {
  position: relative;
  padding: 3.5rem;
  background: #ec790e;
  /* background: linear-gradient(to bottom, #ec790e, rgba(241, 241, 5, 0.733)); */
}

.secUp {
  position: relative;
  z-index: 10000;
}

heading {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #fff;
}

@media screen and (max-width: 480px) {
  heading {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

.sec p {
  /* font-size: 3.5rem; */
  /* margin-bottom: 10px; */
  color: #fff;
  align-items: center;
  text-align: justify;
}

.about-us {
  width: 100%;
  background-color: #fff;
  padding-bottom: 15rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
}

.about-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
}

.problems-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 300;
  color: orange;
  margin-bottom: 1rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: #fff;
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
}

.service {
  width: 100%;
  margin-bottom: 2rem;
}

.service:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.service:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.service:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-header i {
  font-size: 4rem;
  color: #4b4b4b;
  margin-right: 2rem;
}

.service-header h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.service-text {
  /* font-family: "Josefin Slab", serif; */
  font-weight: bold;
  font-size: 1rem;
  text-align: justify;
}

.about-us-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.about-us-img-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}
@media screen and (min-width: 1300px) {
  .card-me {
    max-width: 290px;
  }
}
@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card-me {
    width: 34rem;
  }

  .contact-wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1000px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* html {
    font-size: 45%;
  } */
  .service {
    width: 10rem;
  }

  .about-us-img-wrapper {
    width: 20rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  #text {
    right: 70px !important;
    top: 200px !important;
    font-size: 3rem;
    z-index: 10;
  }
}

/* -------------------------------------CARD-------------------------------------- */

.box1 {
  background-color: #cd4300;
}

.box2 {
  /* background-color: #8a1429; */
  background-color: black;
}

.box3 {
  background-color: #0b62a9;
}

.box4 {
  background-color: #00bdb6;
}

/* cards */
.main {
  max-width: 80vw;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (max-width: 1000px) {
  .cards_item {
    width: 25%;
  }
}

@media (max-width: 1500px) {
  .cards_item {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .cards_item {
    width: 100%;
  }
}

.card-me {
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(37, 37, 37, 0.13);
  box-shadow: 5px 5px 20px 0px rgba(7, 7, 7, 0.61);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-me:hover {
  transform: translateY(30px);
  transition: ease 0.5s;
}

.card_content {
  padding: 1rem;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.links i {
  margin: 1rem;
  color: white;
}

.bg {
  /* background: linear-gradient(rgb(79, 214, 238), rgb(52, 211, 73)),
    url("/images/14823.jpg"); */
  /* background-image: linear-gradient(to bottom, #09e4d298, #178f2b91),
    url("/images/footer.jpg"); */
  background-color: #f47830;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ///////////////////////-----------FOOTER-------------------///////////////////// */

footer {
  /* color: #ffffff; */
  /* text-align:center; */
  /* background: linear-gradient(rgba(13, 192, 22, 0.74), rgba(33, 100, 6, 0.664)); */
  /* background-image: url(/images/5.png); */
  background-color: #f47830;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

.links {
  text-align: center;
}

footer ul {
  list-style: none;
  display: block;
  padding-left: 0px !important;
}

footer li {
  display: inline-block;
}

footer p {
  font-weight: bolder;
  color: #ffffff;
  font-size: 1rem;
}

.social-media-links i {
  margin: 3rem;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .social-media-links i {
    margin: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 0.5rem;
  }
}

/* ***************DASHBOARD****************** */

.dashboard {
  align-items: center;
  margin: auto;
}
.amount-rect {
  align-items: center;
  margin: auto;
  margin-top: 10px;
  width: 1026px;
  height: 150px;
  background: #7ba081;
  border-radius: 20px;
}

.products-rect {
  align-items: center;
  margin: auto;
  margin-left: 310px;
  width: 426px;
  height: 150px;
  background: #edac92;
  border-radius: 20px;
  margin-top: 37px;
}
.row2 {
  display: flex;
}

.orders-rect {
  align-items: center;
  margin-left: 56px;
  width: 426px;
  height: 150px;
  background: #bc8bbe;
  border-radius: 20px;
  margin-top: 37px;
}
.row3 {
  display: flex;
}
.user-rect {
  align-items: center;
  margin-left: 250px;
  width: 322px;
  height: 150px;
  background: #cecf85;
  border-radius: 20px;
  margin-top: 37px;
}
.reviews-rect {
  align-items: center;
  margin-left: 30px;
  width: 322px;
  height: 150px;
  background: #f16e76;
  border-radius: 20px;
  margin-top: 37px;
}

.stock-rect {
  align-items: center;
  margin-left: 30px;
  width: 322px;
  height: 150px;
  background: #8680c2;
  border-radius: 20px;
  margin-top: 37px;
}

.dashBtn {
  position: relative;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.rect-details {
  text-align: center;
}
.heading {
  font-family: poppins;
  font-size: 40px;
  font-weight: 300;
}
.amount {
  /* margin-top: 10px; */
  color: white;
  font-size: 36px;
}

.gap {
  height: 15px;
}
.dashBtn {
  position: relative;
  top: -10px;
  right: -10px;
}
.dashBtn2 {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: -10px;
  /* right: -120px; */
}
.dashBtn3 {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: -10px;
  right: -30px;
}
.background {
  position: absolute;
  z-index: -99999;
  width: 100%;
  background-size: cover;
  /* left: -100px; */
  top: 214px;
  width: 190rem;
}
.gap1 {
  margin-top: 50px;
}

.latest-product {
  text-align: center;
  font-size: 36px;
}
.underline1 {
  /* position: absolute; */
  width: 120px;
  height: 4px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;

  background: #6d8b56;
}

/* ********product screen ******* */
.product-images {
  position: relative;
  right: -100px;
  width: 628px;
  height: 400px;
  border-radius: 20px;
}

.products-details {
  position: relative;
  right: -800px;
  top: -400px;
}
.productName {
  font-family: poppins;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2px;
}

.productz {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.others {
  font-size: 18px;
  font-weight: 500;
}

.underline {
  width: 403px;
  height: 2px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 443px;
  margin-top: 150px;
  margin-bottom: 50px;

  background: #000000;
}

.stock {
  position: relative;
  top: -360px;
  right: -800px;
}

.status {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.inStock {
  font-size: 18px;
  font-weight: 500;
}

.quantity {
  position: relative;
  top: -360px;
  right: -800px;
}

.number-quantity {
  cursor: pointer;
  position: relative;
  top: 5px;
  text-align: center;
  align-items: center;
  width: 61px;
  height: 26px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  border-width: 2px;
  border-color: #000000;
}

.addToCart {
  /* Rectangle 6 */

  position: absolute;
  width: 340px;
  height: 80px;
  left: 800px;
  top: 492px;

  background: #6d8b56;
  border-radius: 20px;
  transition: all 0.7s ease-out;
}

.addToCart:hover {
  background: #000000;
}
.underline5 {
  position: relative;
  width: 649.5px;
  height: 1.5px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 800px;
  top: -180px;

  background: #000000;
}

.dashArrow1 {
  position: relative;
  right: 30px;
}

/* CART SCREEN ******************* */
/* CART SCREEN ******************* */
/* CART SCREEN ******************* */
/* CART SCREEN ******************* */
/* CART SCREEN ******************* */
/* CART SCREEN ******************* */

.cart-title {
  position: relative;
  margin-top: 20px;
  right: -100px;
  font-size: 40px;
}

.green-underline {
  position: relative;
  top: 10px;
  right: -350px;
  width: 120px;
  height: 4px;
  background: #6d8b56;
}
.cart-remove {
  z-index: 9999;
  position: relative;
  top: -60px;
  right: -300px;
  color: #000000;
  width: 124px;
  height: 40px;
  background: #cb5d4e;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.cart-remove:hover {
  background: #df5f4e;
}
.cart-price {
  font-size: 18px;
  font-weight: 600;
}

.remove {
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: white;
}

.cart-image {
  position: relative;
  top: 20px;
  width: 200px;
  border-radius: 10px;
  top: 50px;
  right: -100px;
}
.cart-status {
  z-index: 9999;
  position: relative;
  top: -60px;
  right: -330px;
}

.cart-product-title {
  position: relative;
  color: #000000;
  font-family: poppins;
  font-size: 24px;
  font-weight: 600;
  /* top: -70px; */
  right: 80px;
}

.black-underline {
  position: relative;
  top: 230px;
  right: -100px;
  width: 650px;
  height: 2px;
  background: #000000;
}

.cart-background {
  z-index: 999;
  position: absolute;
  bottom: 0px;
  right: 80px;
}

.checkout-card {
  /* Rectangle 8 */
  z-index: 999;
  position: absolute;
  width: 353px;
  height: 293px;
  left: 880px;
  top: 131px;

  background: #edf5e4;
  border-radius: 10px;
}

.checkout-btn {
  position: relative;
  right: -55px;
  font-size: 18px;
  width: 236px;
  height: 37px;
  background: #6d8b56;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.checkout-btn:hover {
  background: #6e9451;
}

.checkout-title {
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.checkout-underline {
  /* position: absolute; */
  width: 353px;
  height: 1px;
  /* top: 85px; */
  margin-top: 20px;
  margin-bottom: 20px;

  background: #000000;
}

.subtotal {
  font-size: 18px;
}

.total-amount {
  font-size: 18px;
}

.subtotal {
  position: relative;
  right: -30px;
}
.total-amount {
  position: relative;
  right: -30px;
}

.cart-kg {
  color: #989292;
  font-size: 12px;
}

.back-btn {
  position: relative;
  right: -100px;
  background-color: #5da56d;
}
.back-btn:hover {
  background-color: #7aca8c;
}

.product-images {
  width: 100px;
}

.Pimage img {
  width: 600px !important;
}

.btn-block1 {
  border: none;
  background-color: #5da56d;
}
.btn-block1:hover {
  background-color: #45be62;
}
/* .recom{
  background-color: #5da56d;
} */

.farmer-details {
  margin-top: 20px;
  width: 628px;
  height: 120px;
  border-radius: 20px;
  color: white;
  background-color: #989292;
  margin-left: 110px;
}
.details-title {
  position: relative;
  right: -230px;
  top: -40px;
  margin-bottom: 30px;
  font-size: 20px;
}
.span-details {
  font-weight: bold;
}

.detail-name {
  position: relative;
  top: -65px;
  right: -100px;
}
.detail-email {
  position: relative;
  top: -80px;
  right: -100px;
}
.detail-since {
  position: relative;
  top: -95px;
  right: -100px;
}

.avator-details {
  position: relative;
  top: 40px;
}

.post-recom {
  position: relative;
  top: -100px;
  right: -800px;
}
.recom-title {
  font-size: 24px;
  font-weight: 700;
}
.postBtn:disabled {
  background-color: #6d8b56;
}
.postBtn {
  border: none;
  background-color: #6d8b56;
  font-size: 14px;
  margin-left: 10px;
}
.postBtn:hover {
  background-color: #6e9451;
}

.review-details {
  display: flex;
}
.stars {
  position: relative;
  top: -20px;
}
.commt {
  margin-left: 10px;
  margin-right: 10px;
}
.review-title {
  position: relative;
  right: -20px;
  font-weight: 600;
}

.signUp {
  margin-top: 20px;
  border: none;
  background-color: #6d8b56;
}

.signUp:hover {
  background-color: #6e9451;
}

.form-gap {
  margin-top: 20px;
}

.login {
  color: #6d8b56;
}

.signBtn {
  border: none;
  background-color: #6d8b56;
}
.signBtn:hover {
  border: none;
  background-color: #6e9451;
}

.card-text {
  position: relative;
  right: -50px;
}

.recommedation {
  position: relative;
  right: 0px;
  top: 0px;
}

.review-section {
  position: relative;
  right: -100px;
}

.my-2 {
  border: none;
  background-color: #6d8b56;
}
.my-2:hover {
  background-color: #6e9451;
}

.cont {
  border: none;
  background-color: #6d8b56;
}
.cont:disabled {
  border: none;
  background-color: #6d8b56;
}
.cont:hover {
  border: none;
  background-color: #6d8b56;
}
