@font-face {
  font-family: "Morganite Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Morganite Bold"), url("Morganite-Bold.woff") format("woff");
}

/* main {
  min-height: 80vh;
} */
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}
::-moz-selection {
  /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: #545855;
}

::selection {
  color: rgb(0, 0, 0);
  background: #acabad;
}
